body {
   background-color: rgb(203, 203, 250);
   font-family:'Courier New', Courier, monospace;
   margin-left: 10%;
   margin-right: 10%;
}

button {
   padding: 12px 24px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   border-radius: 10px;
   border-color:rgb(78, 1, 151);
   background-color: rgb(225, 255, 255);
}

button:hover {
   box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.3);
}